<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slot Machine</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Slot Machine!</h1>
        <div id="slot-machine">
            <div class="slot" id="slot1"></div>
            <div class="slot" id="slot2"></div>
            <div class="slot" id="slot3"></div>
        </div>
        <div class="controls">
            <input type="number" id="bet" placeholder="Enter your bet" min="1">
            <button id="spin-button" >Spin</button>
        </div>
        <div id="result"></div>
    </div>
    <script src="../static/js/scripts.js"></script>
</body>
</html>